  <footer>
    <!-- footer -->
    <div class="container-fluid bg-dark">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top text-warning">
        >
    
        <div class="col mb-3">
    
        </div>
    
        <div class="col mb-3">
          <h5>İletişim</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'adres' %}" class="nav-link p-0 text-muted"><i class="bi bi-house-door me-2" style="color: yellow "></i>Çanakkale</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-envelope me-2" style="color: yellow"></i>kasimdogruyol17@gmail.com</i></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-telephone-inbound me-2" style="color: yellow"></i>05394808236</i></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-printer me-2" style="color: yellow"></i>4565156165165</a></li>
          </ul>
        </div>
        <div class="col">

        </div>
        
    
        <div class="col mb-3 ">
          <h5>Sosyal Medya</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidHIifQ%3D%3D%22%7D" class="nav-link p-0 text-muted">
              <i class="bi bi-twitter" style="color:red ;"></i>
            </a></li>
            <li class="nav-item mb-2"><a href="https://www.instagram.com/" class="nav-link p-0 text-muted">
              <i class="bi bi-instagram" style="color:red ;"></i>
            </a></li>
            <li class="nav-item mb-2"><a href="https://www.linkedin.com/in/kas%C4%B1m-do%C4%9Fruyol-63208a229/" class="nav-link p-0 text-muted">
              <i class="bi bi-linkedin" style="color:red ;"></i>
            </a></li>
            <li class="nav-item mb-2" ><a href="https://tr-tr.facebook.com/" class="nav-link p-0 text-muted">
              <i class="bi bi-facebook"  style="color:red ;"></i>
            </a></li>
            
          </ul>
        </div>
      </footer>
    </div>
  </footer>