{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Ticaret</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    {% if messages %}
      {% for mesaj in messages %}
        <div class="alert alert-{{mesaj.tags}} text-center " role="alert">
        {{ mesaj }}
        </div>
      {% endfor %}
    {% else %}

  {% endif %}
   <div class="container-fluid">
        <div class="row">
            <!--slider  -->
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Kategori Listesi -->
                <div class="list-group">
                  <a href="index.html" class="list-group-item list-group-item-action active" aria-current="true">
                    Tüm Ürünler
                  </a>
                  <a href="laptop.html" class="list-group-item list-group-item-action">Laptop<i class="bi bi-laptop  float-end" style="color:red ;"></i></a>
                  <a href="kasa.html" class="list-group-item list-group-item-action">Kasa <i class="bi bi-pc  float-end" style="color:red ;"></i></a>
                  <a href="monitör.html" class="list-group-item list-group-item-action">Monitör <i class="bi bi-pc-display-horizontal float-end" style="color:red ;"></i></a>
                  <a href="ekipman.html" class="list-group-item list-group-item-action">Ekipman<i class="bi bi-mouse2 float-end" style="color:red ;"></i></a>
                  <a href="isbilgisayari.html" class="list-group-item list-group-item-action">İş Bilgisayarı</a>
                  <a href="oyunbilgisayari.html" class="list-group-item list-group-item-action">Oyun Bilgisayarı</a>
                  <a href="toplamabilgisayar.html" class="list-group-item list-group-item-action">Toplama Bilgisayar</a>
                
                </div>
            </div>
            <div class="col-md-9">
                <!-- Değişecek alan -->
                <h4 class="text-success text-center">Şifre Değiştirme Sayfası</h4>
                <p>Merhaba {{user.username}}, aşağıdaki formu kullanrak şifrenizi değiştirebilirsiniz </p>
                <form action="" method="POST">
                  {% csrf_token %}
                  
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-success">Şifre Değiştir</button>
                    
                      <!-- <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Eski Şifre</label>
                        <div class="col-sm-6">
                          <input type="password" name="eskisifre" class="form-control" >
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Yeni Şifre</label>
                        <div class="col-sm-6">
                          <input type="password" name="newsifre" class="form-control" >
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Şifre Tekrar</label>
                        <div class="col-sm-6">
                          <input type="password" name="newsifre2" class="form-control" >
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6">
                            
                            <button type="submit" class="btn btn-primary" style="float: right;">Şifre Değiştir</button>
                        </div>
                      </div> -->
                </form>
            </div>
        </div>
   </div>
   {% include 'includes/_footer.html' %}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language":{
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
  </body>
</html>